# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Gradle
.gradle/
build/
out/
run/

# IDE
.idea/
*.iml

# 其他
*.class
*.log
.DS_Store
